@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background-hex: #edf2f4;
  --foreground-hex: #000;
}

/*@media (prefers-color-scheme: dark) {
  :root {
    --background-hex: #edf2f4;
    --foreground-hex: #fff;
  }
}*/

body {
  color: var(--foreground-hex);
  background: var(--background-hex);
  font-family: "Twemoji Country Flags", "Helvetica", "Comic Sans", serif;
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}

.container {
  width: 60%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.container__disabled {
  opacity: 0.4;
}

.input {
  width: 80%;
  border: none!important;
  padding: 1rem!important;
  border-radius: 1rem!important;
  background: #e8e8e8!important;
  box-shadow: 5px 5px 20px #c5c5c5, -23px -23px 60px #ffffff !important;
  transition: 0.3s!important;
  cursor: pointer!important;
}

.input:focus {
  outline-color: #e8e8e8!important;
  background: #e8e8e8!important;
  box-shadow: inset 20px 20px 60px #c5c5c5,
  inset -20px -20px 60px #ffffff!important;
  transition: 0.3s!important;
}

.search {
  box-shadow: 0 0 0 1px hsla(0, 0%, 0%, 0.1),0 4px 11px hsla(0, 0%, 0%, 0.1) !important;
}

.text-shimmmer {
  animation: shimmer .5s ease-in infinite;
}

@keyframes shimmer {
  0% {
    background-position: 0;
  }
  100% {
    background-position: 100%;
  }
}

@media screen and (max-width: 600px) {
  .container {
    width: 100%;
  }
}